*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root{
  --title: #B52184;
  --text: #312D64;
  --white: #fff;
  --bg: linear-gradient(96deg, #343193, #302C63)

  font-size: 62.5%;
}

body{
  font-size: 1.6rem;
}